<%= form_for(@not_implementable_reason) do |f| %>
  <% if @not_implementable_reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@not_implementable_reason.errors.count, "error") %> prohibited this not_implementable_reason from being saved:</h2>

      <ul>
      <% @not_implementable_reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
